.ActuFullPage-ViewPort {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    /*padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);*/
    display: flex;
    z-index: 1;
    flex-direction: column;
    background-color: var(--TileBackground);
}

.ActuFullPage-Image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.ActuFullPage-Text {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.ActuFullPage-Titre {
    font-size: 30px;
    font-weight: bold;
    color: var(--White);
}

.ActuFullPage-Date {
    font-size: 20px;
    font-weight: bold;
    color: var(--LightGreyText);
}

.ActuFullPage-Texte {
    font-size: 20px;
    font-weight: normal;
    color: var(--LightGreyText);
}

.ActuFullPage-Retour {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: var(--BlackAlpha);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    border-radius: 20px;
    margin: 25px;
}

.ActuFullPage-RetourIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}