<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boutique</title>
        <link rel="stylesheet" href="Styles/Color.css">
        <link rel="stylesheet" href="Styles/Main.css">
        <link rel="stylesheet" href="Styles/Vignette.css">
        <link rel="stylesheet" href="Styles/NavBar.css">
        <link rel="stylesheet" href="Styles/Collection.css">
        <link rel="stylesheet" href="Styles/HeaderBar.css">
        <link rel="stylesheet" href="Styles/Responsive.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="Navbar">
            <a class="NavBar-Icon" href="Actu.html">
                <img class="NavBar-IconPictureInactif" src="Icons/Actu.svg">
                <span class="NavBar-IconNameInactif">Actualités</span>
            </a>
            <a class="NavBar-Icon" href="#">
                <img class="NavBar-IconPictureInactif" src="Icons/Calendrier.svg">
                <span class="NavBar-IconNameInactif">Calendrier</span>
            </a>
            <a class="NavBar-Icon" href="#">
                <img class="NavBar-IconPictureActif" src="Icons/Boutique.svg">
                <span class="NavBar-IconNameActif">Boutique</span>
            </a>
            <a class="NavBar-Icon" href="#">
                <img class="NavBar-IconPictureInactif" src="Icons/Compte.svg">
                <span class="NavBar-IconNameInactif">Compte</span>
            </a>
        </nav>
        
        <!-- Headerbar -->
        <header class="HeaderBar">
            <span class="HeaderBar-PageEnCours">Boutique</span>
        </header>

        <!-- Collection -->
        <div class="Collection">
            <div class="Collection-Inside">
                <div class="Vignette">
                    <img class="Vignette-Image" src="Img/img.jpg">
                    <div class="Vignette-TextZoneFilter">
                        <div class="Vignette-TextZone">
                            <span class="Vignette-Title">Produit 1</span>
                            <span class="Vignette-Description">Attention ceci est une mega longue description pour voir la taille</span>
                        </div>
                    </div>
                </div>
                <div class="Vignette">
                    <img class="Vignette-Image" src="Img/img2.jpg">
                    <div class="Vignette-TextZoneFilter">
                        <div class="Vignette-TextZone">
                            <span class="Vignette-Title">Produit 2</span>
                            <span class="Vignette-Description">Description du produit 2</span>
                        </div>
                    </div>
                </div>
                <div class="Vignette">
                    <img class="Vignette-Image" src="Img/img3.jpg">
                    <div class="Vignette-TextZoneFilter">
                        <div class="Vignette-TextZone">
                            <span class="Vignette-Title">Produit 3</span>
                            <span class="Vignette-Description">Description du produit 3</span>
                        </div>
                    </div>
                </div>
                <div class="Vignette">
                    <img class="Vignette-Image" src="Img/img4.jpg">
                    <div class="Vignette-TextZoneFilter">
                        <div class="Vignette-TextZone">
                            <span class="Vignette-Title">Produit 4</span>
                            <span class="Vignette-Description">Description du produit 4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>