<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
        <title>Actualités</title>
        <link rel="stylesheet" href="Styles/Common/Color.css">
        <link rel="stylesheet" href="Styles/Main.css">
        <link rel="stylesheet" href="Styles/Common/NavBar.css">
        <link rel="stylesheet" href="Styles/Common/Responsive.css">
        <link rel="stylesheet" href="Styles/Specific/Actu-Vignette.css">
        <link rel="stylesheet" href="Styles/Specific/ListeActu.css">
        <!-- Manifest -->
        <link rel="manifest" href="/manifest.json">
        <!-- PWA IOS -->
        <link rel="apple-touch-icon" href="Icons/logo-x256.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/Img/SplashScreen.png">
    </head>
    <body class="ListeActu">
        <!-- No responsive -->
        <div class="noResponsive">
            <p>Utilisez cette page sur un smartphone ou reduisez votre ViewPort</p>
        </div>
        
        <!-- Navbar -->
        <nav class="Navbar">
            <a class="NavBar-Icon" href="Actu-List.html">
                <img class="NavBar-IconPictureActif" src="Icons/Actu.svg">
                <span class="NavBar-IconNameActif">Actualités</span>
            </a>
            <a class="NavBar-Icon" href="#">
                <img class="NavBar-IconPictureInactif" src="Icons/Calendrier.svg">
                <span class="NavBar-IconNameInactif">Calendrier</span>
            </a>
            <a class="NavBar-Icon" href="#">
                <img class="NavBar-IconPictureInactif" src="Icons/Boutique.svg">
                <span class="NavBar-IconNameInactif">Boutique</span>
            </a>
            <a class="NavBar-Icon" href="#">
                <img class="NavBar-IconPictureInactif" src="Icons/Compte.svg">
                <span class="NavBar-IconNameInactif">Compte</span>
            </a>
        </nav>

        <!-- Header Bar
        <header id="headerbar" class="HeaderBar" style="display: none;">
            <div class="HeaderBar-PageEnCours">
                <span>Actualités</span>
            </div>
        </header>
        -->

        <!-- Liste d'actualite -->
        <!-- <section id="toto" class="ListeActu"> -->
            <span id="headertitle" class="ListeActu-Entete">Actualités</span>
            <a class="Actu" href="Actu1.html">
                <img class="Actu-Image" src="Img/img.jpg">
                <div class="Actu-Text">
                    <span class="Actu-Date">03/05/2020</span>
                    <span class="Actu-Titre">Super, les actualités fonctionnent</span>
                    <span class="Actu-Description">Découvrez le fonctionnement des actualités.</span>
                </div>
            </a>
            <a class="Actu" href="Actu2.html">
                <img class="Actu-Image" src="Img/img2.jpg">
                <div class="Actu-Text">
                    <span class="Actu-Date">03/05/2020</span>
                    <span class="Actu-Titre">Mangez des Pommes</span>
                    <span class="Actu-Description">Salut, c'est ouf hier j'ai mangé une pomme, d'ailleurs connais-tu Jacques Chirac le roi des pirates ?</span>
                </div>
            </a>
            <a class="Actu" href="Actu3.html">
                <img class="Actu-Image" src="Img/img3.jpg">
                <div class="Actu-Text">
                    <span class="Actu-Date">03/05/2020</span>
                    <span class="Actu-Titre">Mangez des Pommes</span>
                    <span class="Actu-Description">Salut, c'est ouf hier j'ai manger une pomme, d'ailleurs connais-tu jacques chirac le roi des pirates ?</span>
                </div>
            </a>
            <article class="Actu">
                <img class="Actu-Image" src="Img/img4.jpg">
                <div class="Actu-Text">
                    <span class="Actu-Date">03/05/2020</span>
                    <span class="Actu-Titre">Mangez des Pommes</span>
                    <span class="Actu-Description">Salut, c'est ouf hier j'ai manger une pomme, d'ailleurs connais-tu jacques chirac le roi des pirates ?</span>
                </div>
            </article>
            <div class="ListeActu-Empty"></div>
        <!-- </section> -->
        <!-- Scripts
        <script src="Scripts/HeaderBar.js"></script>
        <script src="Scripts/AddPWAToScreen.js"></script>
        -->
    </body>
</html>
